* {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.card {
  max-width: 800px;
  margin: 0 auto;
  background-color: hsl(217, 19%, 38%);
  border-radius: 10px;
  text-align: center;
}

.advice-number {
  color: hsl(150, 100%, 66%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
